
module.exports = {
  client: {
    jid: "yourmail@gmail.com",
    password: "yourpassword"
  },
  status_message: "available",
  allow_auto_subscribe: true,
  welcome_message: "Hi, I'm a robot but I have feelings too. Please say 'list' to me so I can show you how can I help you.",
  services: {
    bitly: {
      desc: '"bitly http://los-rayos.com.ar" - URL shortener.',
      // https://bitly.com/a/settings/advanced
      username: '', //o_login
      token: '', //API key
      disabled: true
    },
    hn: {
      desc: '"hn" - Hacker News home page.'
    },
    list: {
      desc: '"list" - Show available commands.'
    },
    movies: {
      desc: '"movies search star wars" - Movie search.',
      token: '', //themoviedb.org api key
      disabled: true
    },
    ping: {
      desc: '"ping" - returns pong if the bot is alive.'
    },
    search: {
      desc: '"search Lio Messi" - Returns the first google result for the search.'
    },
    torrent: {
      desc: '"torrent seinfeld s01e01" - get piratebay match result with most seeders.'
    },
    twitter: {
      desc: '"twitter @pixelbeat" - See last tweets from a specific user.',
      credentials: {
        consumer_key : '',
        consumer_secret : '',
        access_token_key : '',
        access_token_secret : ''
      },
      disabled: true
    },
    weather: {
      desc: '"weather Buenos Aires" - Returns the actual weather for the required place.'
    }
  }
};
